@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  html,
  body,
  #root {
    width: 100%;
    min-height: 100%;
  }

  body {
    min-width: 320px;
    min-height: 100vh;

    font-family: "Inter", sans-serif;
    color: #0f172a;
    background-color: #f8fafc;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    overflow-x: hidden;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}